@import url('../css/fonts.css');

@charset "UTF-8";

/*---------------------------------- 初期設定 ----------------------------------*/
*{
  margin:  0;
  padding: 0;
}

p {
    font-family: var(--Josefin);
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--Anton);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hr-style {
    position: relative;
    height: 1px;
    border-width: 0;
    background-image: -webkit-linear-gradient(left,transparent 0%,#283593 50%,transparent 100%);
    background-image:         linear-gradient(90deg,transparent 0%,#283593 0%,transparent 100%);
}

/*------------------------------ 色・フォントの設定 ------------------------------*/

:root{

    /*     テキストサイズ       */
    --font-size-small: 0.5rem;
    --font-size-medium:1.1rem;
    --font-size-large: 2.0rem;

    /*     テキストカラー       */
    --text-green  : #206060;
    --text-light  : #686666da;
    --text-gray   : #BBBAB8;
    --text-blue   : #a1c4fd;
    --bg-color    : #0f0f0f;
    --white       : #F9F1DE;
    --midnight    : #104f55;
    --footer-color: #333333;

    /* 　グラデーションカラー   */
    
    --sky: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    --sky-soft: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);

    /*      google font-family   */
    --Abel    : 'Abel'        , cursive;
    --Anton   : 'Anton'       , cursive;
    --Josefin : 'Josefin'     , cursive;
    --Lexend  : 'Lexend'      , cursive;
    --Livvic  : 'Livvic'      , cursive;
    --Leckerli: 'Leckerli_One', cursive;
}
/*-------------------------------- グローバル設定 --------------------------------*/

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.text-gray {
    color: var(--text-gray);
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
    /* background: var(--sky); */
}

/*-------------------------------- ナビゲーション --------------------------------*/

.nav {
    background: var(--text-green);
    box-shadow: 0px 0px 4px inset;
    min-height: 10vh;
    height: 0rem;
    overflow: hidden;
    transition: height 1s ease-in-out;
    /* background: blue; */
}

.nav  .nav-menu {
    justify-content: space-between;
}

.nav .nav-logo {
    font-size: var(--font-size-large);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    font-family: var(--Leckerli);
}


.nav .nav-logo a{
    color:var(--text-blue);
    text-decoration: none;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0.5%;
    right: 10%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: var(--font-size-medium);
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link:hover{
    background: var(--white);
    box-shadow: 0 0 13px #103D3C;
    transition-duration: .5s;
}

.nav .nav-items .nav-link{
    position: relative;
    font-size: var(--font-size-medium);
    padding: 1.6rem 1rem;
    font-family: var(--Abel);
}

.nav .nav-items .nav-link a{
    color:var(--text-blue);
    text-decoration: none;
}

.nav .nav-items .nav-link:hover a{
    color:black;
}

.nav .social-link {
    position: relative;
    font-size: var(--font-size-medium);
    right: 1rem;
    padding: 1.6rem .5rem;
}

.nav .social-link a{
    color:var(--text-blue);
}

.nav .social-link i{
    padding: 0 .5rem;
}

.nav .social-link i:hover{
    color: var(--text-gray);
    transition-duration: .5s;
}
/*-------------------- サイトタイトル --------------------*/

section .main-visual .site-background {
    position: static;
}

section .main-visual .site-background img{
    position: absolute;
    left: 0;
    top: 100;
    width: 100%;
    height: 100%;
}

#video-background {
    position: relative;
    left: 0;
    top: -40;
    min-width: 100%;
    min-height: 90%;
    width: auto;
    height: auto;
    z-index: -999;
}

main .site-background h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(93, 167, 115, .5);
    /* height: 110vh; */
    padding: 5rem;
    text-align: center;
    color: var(--white);
    box-shadow: 10px 10px 15px -10px;
    font-size: var(--font-size-large);
}
/*-------------------------------- ブログコンテント --------------------------------*/

section .blog .container h2 {
    text-align: center;
    font-size: var(--font-size-large);
    color: var(--text-blue);    
}

section .blog .container {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    /* background: var(--sky); */
    /* background: linear-gradient( to bottom, white 30%, rgb(240, 255, 255) 100%); */
    background: linear-gradient( to bottom, white 30%, rgba( 208, 185, 141, 0.1) 100%);
}

section .blog .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
}

section .blog .posts .blog-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 90%;
    margin: 3rem 2rem;
    padding: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

section .blog .posts .blog-content{
    overflow: hidden;
}

section .blog .blog-content img{
    width: 50%;
    transition: all .5s ease;
    opacity: .3;
}

section .blog .posts .blog-content a {
    display: flex;
    text-decoration: none;
    color: var(--text-blue);
}

section .blog .posts .blog-content:hover img {
    transform: scale(1.1);
    opacity: 1;
}

section .blog .posts .blog-content a .blog-title{
    margin: auto;
}

section .blog .posts .blog-content a .blog-title h3 {
    padding-bottom: 2rem;
}

section .blog .posts .blog-content a .blog-title p {
    width: 70%;
    height: 50px;
    margin: auto;
    overflow: hidden;
    text-overflow: clip;
}


section .blog .posts .blog-content a .blog-title .button-arrow {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
  }

section .blog .posts .blog-content a .blog-title .button-arrow:before {
  position: absolute;
  top: 1.3rem;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 4px; 
  background: var(--sky);
  transition:  .4s ease-in-out;  
}

section .blog .posts .blog-content a:hover .blog-title .button-arrow:before{
  width: 100%;
}
/*-------------------------------- サイドバー --------------------------------*/
/*-------------------- カテゴリー --------------------*/
section .blog .container .sidebar .category {
    margin: auto;
    width: 80%;
}

section .blog .container .sidebar .category h2{
    padding-top: 2.5rem;
}

section .blog .container .sidebar .category .category-list{
    font-family: var(--Josefin);
    width: 70%;
    margin: auto;
    text-align: center;
}

section .blog .container .sidebar .category .category-list .list-items {
    background: var(--sky-soft);
    margin: 1.5rem 0;
    border-radius: 3rem;
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 8px 8px 15px -10px;
}

section .blog .container .sidebar .category .category-list .list-items:hover {
    color: blue;
}

section .blog .container .sidebar .category .category-list .list-items a {
    font-size: var(--font-size-medium);

}
/*-------------------- タグ --------------------*/

/* section .blog .container .sidebar .popular-tags {
} */

section .blog .container .sidebar .popular-tags h2 {
    padding-top: 5rem;
}

section .blog .container .sidebar .popular-tags .tags {
    font-family: var(--Josefin);
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

section .blog .container .sidebar .popular-tags .tags .tag {
    background: var(--sky-soft);
    margin: .5rem .3rem;
    border-radius: 3rem;
    padding: .5rem 1rem;
    min-width: 50px;
    text-align: center;
    box-shadow: 8px 8px 15px -10px;
    display: flex;
    font-size: var(--font-size-medium);
    justify-content: space-around;
}

section .blog .container .sidebar .popular-tags .tags .tag:hover {
    color: blue;
}
/*------------------------------ スペシャルコンテント ------------------------------*/

section .special-contents .fixed-bg {
    position: relative;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

section .special-contents .fixed-bg .fixed-bg-content {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

section .special-contents .fixed-bg .fixed-bg-content h2 {  
    color: var(--white);
    font-size: var(--font-size-large);
    top: 20%;
    margin-bottom: 24px;
    text-shadow: 0 1px 0 #bbb,
               0 2px 0 #b0b0b0,
               0 3px 0 #aaa,
               0 4px 0 #a0a0a0,
               0 5px 0 #888,
               0 6px 1px rgba(0, 0, 0, .1),
               0 0 5px rgba(0, 0, 0, .1),
               0 1px 3px rgba(0, 0, 0, .3),
               0 3px 5px rgba(0, 0, 0, .2),
               0 5px 10px rgba(0, 0, 0, .25),
               0 10px 10px rgba(0, 0, 0, .2),
               0 20px 20px rgba(0, 0, 0, .15);

    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    box-shadow: 10px 10px 15px -5px;
}
  
section .special-contents .scroll-bg {
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .special-contents .scroll-bg .scroll-bg-content {
    width:  50%;
    margin: 0 auto;
}

section .special-contents .scroll-bg .scroll-bg-content p {
    font-size: var(--font-size-medium);
    font-weight: normal;
    line-height: 2.8;
}


section .special-contents .bg01 {
    background-image: url(../img/bg01.jpg);
}

section .special-contents .bg-color01 {
    background:  rgba( 208, 185, 141, 0.2);
}

section .special-contents .bg02 {
    background-image: url(../img/bg02.jpg);
}

section .special-contents .bg-color02 {
    background:  rgba( 107, 182, 187, 0.2);
}

section .special-contents .bg03 {
    background-image: url(../img/bg03.jpg);
}

section .special-contents .bg-color03 {
    background:  rgba( 132, 93, 158, 0.2);
}
/*------------------------------ フッター ------------------------------*/

footer.footer {
    height: 100%;
    background: var(--footer-color);
    position: relative;
}

footer.footer .container {
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

footer.footer .container h2 {
    color: var(--white);
    text-align: center;
    margin: 1rem;
}

footer.footer .container > div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container .category {
    /* background: blue; */
}

/* footer.footer .container .category h2 {
    text-align: center;
} */

footer.footer .container .category .blog-content {
    display: inline-block;
    width: 100%;
    margin: .5rem;
    /* background: red; */
}

footer.footer .container .category .blog-content a {
    color: var(--white);
}

footer.footer .container .category .blog-content img {
    overflow: hidden;
    float: left;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: .5rem;
}

footer.footer .container .category .blog-content a .blog-text {
    overflow: hidden; 
    height: 100px;
    width: 75%;
}

footer.footer .container .category .blog-content a .blog-text p{
    padding: .5rem 0;
}

footer.footer .container .instagram {
    /* background: palevioletred; */
}

footer.footer .container .instagram div {
    display: flex;
    justify-content: space-between;
    /* background: red; */
    margin: .5rem;
}

footer.footer .container .instagram .instagram-content {
    margin: .5rem auto;
    width: 75%;
}

footer.footer .instagram div > img {
    display: inline-block;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: .5rem 1rem;
}

footer.footer .follow-content {
    /* background: blue; */
    color: var(--white);
    display: grid;
    grid-template-columns: 100%;
}

footer.footer .follow-content h2{
    text-align: left;
}

footer.footer .follow-content .follow p {
    text-align: center;
}

footer.footer .follow > div {
    display: flex;
    justify-content: center;
    /* background: red; */
}

footer.footer .follow > div i {
    margin: .5rem .5rem;
}

footer.footer .follow > div i:hover {
    color: var(--text-gray);
    transition-duration: .5s;
}

footer.footer .follow-content .search h2 {
    margin-top: 1rem;
}

footer.footer .follow-content .search .form-element {
    background: black;
    display: inline-block;
}

footer.footer .follow-content .search .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: var(--white);
    font-size: 1rem;
    width: 70%;
}

footer.footer .follow-content .search .form-element span {
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .copyright {
    justify-content: center;
    font-family: var(--Josefin);
    margin: .5rem;
}

footer.footer .copyright a{
    color: var(--white);
}

footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 72%;
    font-size: var(--font-size-large);
}

.fadein {
    opacity : 0;
    transform: translateY(30px);
    transition: all 2s;
}




/* ------------------------------------------------------------------------------------- */
/* --------------------------------- レスポンシブデザイン --------------------------------- */


/* ---------------------------- レスポンシブデザイン 750px以下 ---------------------------- */
@media screen and (max-width:750px){

    /*---------------------- サイトタイトル ----------------------*/
    section .main-visual .site-background img{
        width: 100%;
        height: 60%;
    }

    #video-background {
        position: relative;
        left: 0;
        top: -10;
        width: 100%;
    }

    section .main-visual {
        height: 50%;
    }

    section .main-visual .site-background{
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    main .site-background h3{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
    }
    /*---------------------- ブログコンテンツ ----------------------*/

    section .blog .container,section .blog .container .posts{
        grid-template-columns: 100%;
        padding: 0 2rem;
    }

    /* section .blog .container .posts {
        background: blue;
    } */
    
    /*---------------------- サイドバー ----------------------*/
    /*---------- カテゴリー ----------*/
    /* section .blog .container .sidebar {
        background: red;
    } */

    section .blog .container .sidebar .category .category-list {
        width: 50%;
    }

    /*-------------------- スペシャルコンテント --------------------*/

    section .special-contents .scroll-bg .scroll-bg-content {
        width:  95%;
        margin: 0 auto;
    }

    section .special-contents .fixed-bg {
        min-height: 40vh;
    }

    section .special-contents .fixed-bg .fixed-bg-content h2 {
        font-size: var(--font-size-medium);
    }

    section .special-contents .scroll-bg {
        min-height: 40%;
    }
    /*------------------------- フッター -------------------------*/

    footer.footer {
        height: 1300px;
    }

    footer.footer .container h2 {
        margin: .1rem;
    }

    footer.footer .follow-content .search h2 {
        margin-top: 3rem;
    }

    footer.footer .container {
        display: grid;
        grid-template-columns: 100%;
    }

    footer.footer .container .category .blog-content a .blog-text{
        width: 70%;
    }

    footer.footer .container .instagram .instagram-content {
        width: 90%;
    }

    footer.footer .instagram div > img {
        display: inline-block;
        object-fit: cover;
        width: 90px;
        height: 90px;
        margin: .5rem auto;
    }

    footer.footer .follow-content .follow p {
        text-align: left;
    }
    
    footer.footer .follow > div {
        display: flex;
        justify-content: flex-start;
        /* background: red; */
    }

    footer.footer .follow-content .search .form-element {
        width: 70%;
    }

    footer.footer .follow-content .search .form-element input{
        width: 90%;
    }
}

/* ---------------------------- レスポンシブデザイン 640px以下 ---------------------------- */
@media screen and (max-width: 640px) {

    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
        padding: 1rem 0;
    }

    .nav .nav-menu, .nav .nav-items .nav-link a{
        margin-left: .2rem;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    /*---------------------- ブログコンテンツ ----------------------*/

    section .blog .container .posts {
        width: 100%;
    }


    /*---------------------- サイトタイトル ----------------------*/

    section .main-visual {
        /* background: red; */
    }

    section .main-visual .site-background h3,.nav-img {
        display: none;
    }

    section .main-visual .site-background img{
        position: absolute;
        top: 452px;
        width: 100%;
        height: 60%;
    }

    /*---------------------- ブログコンテンツ ----------------------*/

    section .blog .container .posts .blog-content img{
        padding: 0 .2rem;
    }

     /*-------------------- スペシャルコンテント --------------------*/

     section .special-contents .scroll-bg .scroll-bg-content {
        width:  90%;
        margin: 0 auto;
    }

    section .special-contents .scroll-bg .scroll-bg-content p {
        line-height: 1.5rem;
    }

    section .special-contents .fixed-bg {
        min-height: 30vh;
    }

}

